# If deploying to production, set NODE_ENV=production
NODE_ENV=development

# hapi server config
PORT=8080
HOST=localhost
HOST_URL=http://localhost:8080
COOKIE_ENCRYPT_PWD=superAwesomePasswordStringThatIsAtLeast32CharactersLong!

#sql server config
SQL_USER=yourDBUser
SQL_PASSWORD=yourPassword
SQL_DATABASE=calendar
SQL_SERVER=yourSqlServer
# If deploying to Azure, set SQL_ENCRYPT to true
SQL_ENCRYPT=false

#okta config
OKTA_ORG_URL=https://{yourOrgUrl}
OKTA_CLIENT_ID={yourClientId}
OKTA_CLIENT_SECRET={yourClientSecret}
