<div class="container">
    <% if ( auth.isAuthenticated ) { %>
        <div id="app"></div>
    <% } else { %>
        <h1 class="header"><%= title %></h1>
        <p><%= message %></p>
        <a class="waves-effect waves-light btn" href="/login">Login</a>
    <% } %>
 </div>
